<div class="container col-sm-12 col-md-6 col-lg-4">
    <div class="suitcaseCard">
        <div class="card bg-dark text-white no-shadow">
            <div class="suitcaseWrapper card-img">
                <img class="suitcasePhoto img-responsive" src="/assets/img/bg7.jpg" alt="Card image" data-id="{{this:id}}">
                <img class="suitcaseFrame img-responsive"  src="/assets/img/suitcaseFrame.png" alt="Suitcase Frame">
            </div>
            <div class="card-img-overlay">
                <h5 class="card-title suitcase-title"> {{city}} </h5>
                <div class="trip-details">
                    <p class="badge" >{{start_date}} - {{end_date}}</p>
                    <p class="badge">{{travel_category}}</p>
                </div>
            </div>
        </div>
    </div>
</div>